*{
    margin: 0px;
    padding: 0px;
}

body{
    background: #c5dfe2;
    background-image: url('medios/imagen2.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 

    
}

.contenedor{
    margin: auto;
    width: 900px;
    margin-top: 300px;
    text-align: center;
    font-family: "Georgia", sans-serif;
}

.titulo{
    margin-bottom: 20px;
}

.opciones p{
    background: black;
    display: initial;
    padding: 12px;
    color: #cabe10;
    border-radius: 2px;
    font-weight: bold;
}

p.p1{
    position: absolute;
    top: 400px;
    left: 500px;
    width: 100px;
}
p.p1:hover{
    background: gray;
    cursor: pointer;
}

p.p2{
    position: absolute;
    top: 400px;
    left: 750px;
    width: 100px;
}
p.p2:hover{
    background: gray;
    cursor: pointer;
}
#si{
    background: #515050;
    left: 420px;
    position: absolute;
    top: 122px;
    width: 550px;
    color: #ffffff;
    padding: 50px;
    display: none;
}

#imagen {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%; 
}


#texto-superior {
    position: absolute;
    top: 25px; 
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px; 
    color: rgb(0, 0, 0); 
}
