* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #c5dfe2;
    background-image: url('medios/imagen2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Georgia", sans-serif;
}

.contenedor {
    margin: auto;
    width: 90%;
    max-width: 900px;
    margin-top: 20px;
    text-align: center;
}

.titulo {
    margin-bottom: 20px;
}

.opciones p {
    background: black;
    display: inline-block;
    padding: 12px;
    color: #cabe10;
    border-radius: 2px;
    font-weight: bold;
    margin: 5px;
    position: absolute;
    transition: transform 0.3s, background-color 0.3s, cursor 0.3s;
}

.opciones p.p1 {
    left: 500px;
    top: 400px;
}

.opciones p.p2 {
    left: 750px;
    top: 400px;
}

.opciones p.p1:hover,
.opciones p.p2:hover {
    background: gray;
    cursor: pointer;
    transform: translate(10px, -10px); /* Mueve el botón cuando se hace hover */
}

#si {
    background: #515050;
    width: 90%;
    max-width: 550px;
    color: #ffffff;
    padding: 20px;
    display: none;
    margin: 0 auto;
}

#imagen {
    display: none;
    width: 80%;
    max-width: 100%;
    margin: 20px auto;
}

#texto-superior {
    font-size: 24px;
    color: rgb(0, 0, 0);
}

/* Media query para estilos móviles */
@media screen and (max-width: 768px) {
    .contenedor {
        margin-top: 10px;
    }

    p.p1, p.p2 {
        top: auto;
        left: auto;
        width: auto;
        position: static;
    }

    #si {
        width: 90%;
        max-width: none;
    }

    #imagen {
        width: 100%;
    }
}
